.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.was-validated .ng-invalid~.invalid-feedback {
  display: block;
}
